.st_benefits {
  padding: 200px 250px;
  padding-bottom: 0;
  position: relative;
}
.st_benefits_wrapper {
}
.st_benefits_title {
  max-width: 800px;
  color: #fff;
  font-family: 'Roboto Flex';
  font-size: 36px;
  font-style: normal;
  font-weight: 1000;
  line-height: 110%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 88px;
}

.st_benefits_items_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  color: wheat;
}
.st_benefits_items_first-row {
}
.st_benefits_item_1-1 {
  width: 450px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/benefits/1.webp');
}
.st_benefits_item_text-1 {
  color: #26355e;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.st_benefits_item_showup-1 {
  display: none;
  align-items: flex-start;
  gap: 12px;
  max-width: 320px;
}
.st_benefits_item_showup-2-1 {
  display: none;
  align-items: flex-start;
  gap: 12px;
  max-width: 320px;
}
.st_benefits_item_showup-2-2 {
  display: none;
  align-items: flex-start;
  gap: 12px;
  max-width: 340px;
}
.st_benefits_item_showup-3-1 {
  display: none;
  align-items: flex-start;
  gap: 12px;
  max-width: 320px;
}
.st_benefits_item_showup-3-2 {
  display: none;
  align-items: flex-start;
  gap: 12px;
  max-width: 320px;
}
.st_benefits_item_showup-3-3 {
  display: none;
  align-items: flex-start;
  gap: 12px;
  max-width: 320px;
}

.st_showup_cont_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.st_showup_cont_wrap_title {
  color: #fff;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.st_showup_cont_wrap_subtitle {
  color: #fffdfd;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.st_benefits_item_showup_checkmark {
  position: relative;
  top: 5px;
}
.st_benefits_item_1-1:hover {
  background-image: url('../img/benefits/11.webp');
  cursor: pointer;
}
.st_benefits_item_1-1:hover .st_benefits_item_text-1 {
  display: none;
}
.st_benefits_item_1-1:hover .st_benefits_item_showup-1 {
  display: flex;
}
.st_benefits_items_second-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 35px;
}
.st_benefits_item_2-1 {
  width: 450px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/benefits/2.webp');
}
.st_benefits_item_text-2-1 {
  color: #26355e;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 300px;
}
.st_benefits_item_2-2 {
  width: 450px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/benefits/3.webp');
}
.st_benefits_item_text-2-2 {
  color: #26355e;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 350px;
}
.st_benefits_items_third-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 35px;
}
.st_benefits_item_3-1 {
  width: 450px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/benefits/4.webp');
}
.st_benefits_item_text-3-1 {
  color: #26355e;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 300px;
}
.st_benefits_item_3-2 {
  width: 450px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/benefits/5.webp');
}
.st_benefits_item_text-3-2 {
  color: #26355e;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 300px;
}
.st_benefits_item_3-3 {
  width: 450px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/benefits/6.webp');
}
.st_benefits_item_text-3-3 {
  color: #26355e;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 300px;
}

.st_benefits_item_2-1:hover {
  background-image: url('../img/benefits/22.webp');
  cursor: pointer;
}
.st_benefits_item_2-1:hover .st_benefits_item_text-2-1 {
  display: none;
}
.st_benefits_item_2-1:hover .st_benefits_item_showup-2-1 {
  display: flex;
}

.st_benefits_item_2-2:hover {
  background-image: url('../img/benefits/33.webp');
  cursor: pointer;
}
.st_benefits_item_2-2:hover .st_benefits_item_text-2-2 {
  display: none;
}
.st_benefits_item_2-2:hover .st_benefits_item_showup-2-2 {
  display: flex;
}

.st_benefits_item_3-1:hover {
  background-image: url('../img/benefits/44.webp');
  cursor: pointer;
}
.st_benefits_item_3-1:hover .st_benefits_item_text-3-1 {
  display: none;
}
.st_benefits_item_3-1:hover .st_benefits_item_showup-3-1 {
  display: flex;
}

.st_benefits_item_3-2:hover {
  background-image: url('../img/benefits/55.webp');
  cursor: pointer;
}
.st_benefits_item_3-2:hover .st_benefits_item_text-3-2 {
  display: none;
}
.st_benefits_item_3-2:hover .st_benefits_item_showup-3-2 {
  display: flex;
}
.st_benefits_item_3-3:hover {
  background-image: url('../img/benefits/66.webp');
  cursor: pointer;
}
.st_benefits_item_3-3:hover .st_benefits_item_text-3-3 {
  display: none;
}
.st_benefits_item_3-3:hover .st_benefits_item_showup-3-3 {
  display: flex;
}
.st_benefits_bg_woman {
  position: absolute;
  bottom: -150px;
  right: 250px;
  z-index: -1;
  max-height: 1221px;
  max-width: 789px;
}
@media (max-width: 1900px) {
  .st_benefits {
    padding: 150px 150px;
    padding-bottom: 0;
  }
  .st_benefits_bg_woman {
    right: 150px;
  }
}
@media (max-width: 1700px) {
  .st_benefits {
    padding: 70px 70px;
    padding-bottom: 0;
  }
  .st_benefits_bg_woman {
    right: 70px;
  }
}
@media (max-width: 1565px) {
  .st_benefits {
    display: none;
  }
}
