.main {
  width: 100svw;
  height: auto;
  position: relative;
}
.main_bgimg {
  width: 100svw;
  height: auto;
}
.main_texts-button_wrapper {
  padding-left: 250px;
  padding-right: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_texts_texts {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.main_texts_texts_title {
  color: #34b4f4;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 36px;
  font-weight: 1000;
  line-height: 140%; /* 50.4px */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main_texts_texts_text {
  color: var(--white, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  max-width: 705px;
}
.main_texts_button {
  color: #26355e;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 12px;
  font-weight: 1000;
  line-height: 120%; /* 14.4px */
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 14px 20px;
  gap: 4px;
  align-self: flex-end;
  border-radius: 40px;
  background: #34b4f4;
  text-decoration: none;
  transition: all 0.3s;
}
.main_texts_button:hover {
  gap: 12px;
  background: #95d8f9;
  transition: all 0.3s;
}
.mob-img {
  display: none;
}

.main-text-image-link {
  position: absolute;
  top: 15%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-title {
  color: #fff;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 64px;
  font-weight: 1000;
  line-height: 140%;
  letter-spacing: 1.262px;
  text-transform: uppercase;
}
.main-subtitle {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.main-img {
  max-width: 715px;
  height: auto;
}
.play-icon {
  position: absolute;
  bottom: 81px;
  right: 75px;
  transition: all 0.3s;
}
.play-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
}
.img-for-mob-add {
  display: none;
}

@media (max-width: 1760px) {
  .main_texts-button_wrapper {
    padding-left: 150px;
    padding-right: 150px;
  }
  .main-img {
    max-width: 600px;
    height: auto;
  }
  .main-text-image-link {
    top: 13%;
  }
  .play-icon {
    right: 50px;
    bottom: 80px;
  }
}
@media (max-width: 1560px) {
  .main_texts-button_wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  .main-img {
    max-width: 500px;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .main_texts-button_wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main-text-image-link {
    top: 11%;
  }
}
@media (max-width: 1124px) {
  .main_texts-button_wrapper {
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .img-for-mob-add {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 309px;
    height: 238px;
    margin: 0 auto;
  }
  .play-icon-mob {
    position: absolute;
    width: 42px;
    height: 42px;
    right: 20px;
    bottom: 20px;
  }
  .img-mob-phones {
    width: 309px;
    height: 238px;
  }
  .play-icon {
    display: none;
  }
  .main-img {
    display: none;
  }
  .main-text-image-link {
    top: initial;
    right: 0;
    left: 0;
    bottom: 33px;
  }
  .main_texts_button {
    align-self: center;
  }
  .desk-img {
    display: none;
  }
  .mob-img {
    display: block;
    padding-top: 58px;
  }
  .main_texts_texts_title {
    font-size: 28px;
  }
  .main_texts_texts {
    gap: 24px;
  }
  .main_texts_button {
    width: 279px;
  }
  .main-text-image-link {
    bottom: 640px;
  }
}

@media (max-width: 680px) {
  .main-title {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .main-subtitle {
    font-size: 16px;
  }
}
