.cards {
  padding-top: 200px;

  padding-left: 250px;
  padding-right: 250px;
}
.cards_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_bg_img {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  margin: auto;
  z-index: 101;
}
.cards_three_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  z-index: 101;
}
.cards_three__card {
  width: 360px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
}
.cards_three__card_text {
  color: #26355e;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 24px;
  font-weight: 1000;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}
.card-img-bg-hov {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}
.card1:hover .card-img-bg {
  opacity: 0;
}
.card1:hover .card-img-bg-hov {
  opacity: 1;
}
.card2:hover .card-img-bg {
  opacity: 0;
}
.card2:hover .card-img-bg-hov {
  opacity: 1;
}
.card3:hover .card-img-bg {
  opacity: 0;
}
.card3:hover .card-img-bg-hov {
  opacity: 1;
}
.card4:hover .card-img-bg {
  opacity: 0;
}
.card4:hover .card-img-bg-hov {
  opacity: 1;
}
.card5:hover .card-img-bg {
  opacity: 0;
}
.card5:hover .card-img-bg-hov {
  opacity: 1;
}
.card6:hover .card-img-bg {
  opacity: 0;
}
.card6:hover .card-img-bg-hov {
  opacity: 1;
}
/* .card1 {
  background-image: url('../img/cards/1.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card2 {
  background-image: url('../img/cards/2.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card3 {
  background-image: url('../img/cards/3.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card4 {
  background-image: url('../img/cards/4.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card5 {
  background-image: url('../img/cards/5.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card6 {
  background-image: url('../img/cards/6.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card1:hover {
  background-image: url('../img/cards/11.webp');
}
.card2:hover {
  background-image: url('../img/cards/22.webp');
}
.card3:hover {
  background-image: url('../img/cards/33.webp');
}
.card4:hover {
  background-image: url('../img/cards/44.webp');
}
.card5:hover {
  background-image: url('../img/cards/55.webp');
}
.card6:hover {
  background-image: url('../img/cards/66.webp');
} */
.cards_centr_text {
  display: flex;
  flex-direction: column;
  max-width: 473px;
}
.card_accent_text {
  color: #34b4f4;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 36px;
  font-weight: 1000;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card_nonacent_text {
  color: #fff;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 36px;
  font-weight: 1000;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card-hover-content {
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  display: none;
}
.card_hover_checkmark {
  width: 25px;
  height: 20px;
}
.card-hover_texts {
  display: flex;
  flex-direction: column;
  max-width: 273px;
}
.card-hover_title {
  color: #fff;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 24px;
  font-weight: 1000;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.card-hover_text {
  color: #fff;
  font-family: 'Roboto ', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
}
.cards_three__card:hover .cards_three__card_text {
  display: none;
}
.cards_three__card:hover .card-hover-content {
  display: flex;
}
.mob-text {
  display: none;
}
.scroll_img {
  display: none;
}
.gradient1 {
  position: absolute;
  bottom: -300px; /* Start at the bottom of the .cta_wrapper */
  left: 400px; /* Start from the left */
  width: 500px; /* Wider gradient */
  height: 500px;
  background: radial-gradient(circle, #34b4f4 0%, transparent 70%);
  opacity: 0.7;
  filter: blur(100px); /* Increase blur for a softer look */
  animation: moveGradientBottom 7s ease-in-out infinite alternate; /* Slower animation */
}

@keyframes moveGradientBottom {
  0% {
    transform: translate(0, 0); /* Bottom-left corner */
  }
  25% {
    transform: translate(50px, -100px); /* Slightly up and to the right */
  }
  50% {
    transform: translate(200px, -250px); /* Move diagonally towards the center */
  }
  75% {
    transform: translate(-150px, -40px); /* Shift left and up a bit */
  }
  100% {
    transform: translate(-50px, 0); /* Bottom-right corner */
  }
}
.gradient2 {
  position: absolute;
  bottom: -200px;
  left: 100px; /* Start near the first gradient */
  width: 400px; /* Slightly smaller than gradient1 */
  height: 400px;
  background: radial-gradient(circle, rgba(255, 0, 184, 0.5) 0%, transparent 70%);
  opacity: 0; /* Start fully invisible */
  filter: blur(80px);
  animation: moveGradient2 7s ease-in-out infinite alternate, fadeGradient 7s infinite; /* Two animations */
}

@keyframes moveGradient2 {
  0% {
    transform: translate(50px, 20px); /* Close to gradient1 */
  }
  50% {
    transform: translate(120px, 40px); /* Slight movement away */
  }
  100% {
    transform: translate(80px, 0px); /* Back near gradient1 */
  }
}

@keyframes fadeGradient {
  0%,
  40% {
    opacity: 0; /* Invisible initially */
  }
  50%,
  90% {
    opacity: 0.5; /* Fully visible for most of the time */
  }
  100% {
    opacity: 0; /* Gradually fade out at the end */
  }
}
.gradient3 {
  position: absolute;
  bottom: 0; /* Positioned at the bottom */
  right: 0; /* Aligned to the right side */
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(255, 0, 184, 0.5) 0%, transparent 70%);
  opacity: 0; /* Start fully invisible */
  filter: blur(80px);
  animation: moveGradient3 9s ease-in-out infinite alternate, fadeGradient3 9s infinite; /* Two animations */
}

@keyframes fadeGradient3 {
  0%,
  20% {
    opacity: 0; /* Start invisible */
  }
  30% {
    opacity: 0.25; /* Begin to fade in */
  }
  40%,
  85% {
    opacity: 0.5; /* Fully visible for a longer period */
  }
  95% {
    opacity: 0.25; /* Begin to fade out */
  }
  100% {
    opacity: 0; /* Fully faded out */
  }
}
@keyframes moveGradient3 {
  0% {
    transform: translate(0, 0); /* Start at the bottom-right corner */
  }
  25% {
    transform: translate(-50px, -20px); /* Move slightly up and left */
  }
  50% {
    transform: translate(-100px, 40px); /* Move diagonally closer to the center */
  }
  75% {
    transform: translate(-70px, -10px); /* Move back closer to the bottom-right corner */
  }
  100% {
    transform: translate(0, 0); /* Return to the original position */
  }
}
@media (max-width: 1750px) {
  .cards {
    padding-top: 200px;

    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1550px) {
  .cards {
    padding-top: 200px;

    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1360px) {
  .cards_centr_text {
    display: none;
  }
  .mob-text {
    display: flex;
    margin-bottom: 32px;
    padding-left: 23px;
    max-width: 329px;
  }
  .card_accent_text {
    font-size: 24px;
  }
  .card_nonacent_text {
    font-size: 24px;
    max-width: 260px;
  }
  .cards_wrapper {
    justify-content: center;
    gap: 26px;
  }
  .cards {
    padding-top: 200px;

    padding-left: 26px;
    padding-right: 26px;
  }
  /* .card1 {
    background-image: url('../img/cards/11.webp');
  }
  .card2 {
    background-image: url('../img/cards/22.webp');
  }
  .card3 {
    background-image: url('../img/cards/33.webp');
  }
  .card4 {
    background-image: url('../img/cards/44.webp');
  }
  .card5 {
    background-image: url('../img/cards/55.webp');
  }
  .card6 {
    background-image: url('../img/cards/66.webp');
  } */
  .card-img-bg {
    opacity: 0;
  }
  .card-img-bg-hov {
    opacity: 1;
  }
  .cards_three__card .cards_three__card_text {
    display: none;
  }
  .cards_three__card .card-hover-content {
    display: flex;
    padding-left: 10px;
  }
}
@media (max-width: 830px) {
  .cards_three_wrapper {
    flex-direction: row;
  }
  .card_bg_img {
    display: none;
  }
  .cards {
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
  }
  .cards_wrapper {
    overflow: auto;
    justify-content: flex-start;
    scrollbar-width: none;
  }
  .cards_wrapper::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in Webkit browsers (Chrome, Safari) */
  }
  .cards_three__card {
    width: 328.255px;
    height: 200.6px;
  }
  .card1 {
    margin-left: 23px;
  }
  .card6 {
    margin-right: 23px;
  }
  .card-hover_title {
    font-size: 22px;
  }
  .card-hover_text {
    font-size: 16px;
    max-width: 244px;
  }
  .fst-txt {
    max-width: 275px;
  }
  .scroll_img {
    display: block;
    margin-top: 12px;
    margin-right: 23px;
    margin-left: auto;
  }
}
