.meet-alien_video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.meet-alien_video {
    height: 327px;
}

.meet-alien_video-wrapper .btn {
    position: absolute;
    left: 50%;
    bottom: 18px;
    width: 236px;
    transform: translateX(-50%);
}

.meet-alien_logo-line {
    height: 66px;
    margin-right: -20px;
    margin-left: -20px;
    background-color: #0D0F15;
}

.meet-alien_logo-line .swiper-wrapper {
    align-items: center;
}

.meet-alien_logo-line .swiper-slide {
    width: 135px;
    height: auto;
}

.meet-alien_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 24px;
    padding-top: 24px;
}

.meet-alien_text h2 {
    margin-bottom: 0;
    color: #fff;
    font-size: 28px;
}

.meet-alien_text h2 span {
    color: #34B4F4;
}

.meet-alien-section_decor {
    display: none;
}

@media (min-width: 1024px) {
    .meet-alien-section {
        position: relative;
        padding-bottom: 66px;
        overflow: hidden;
        z-index: 1;
    }

    .meet-alien-section .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .meet-alien_video-wrapper {
        order: 1;
    }

    .meet-alien_text {
        max-width: 420px;
    }

    .meet-alien_logo-line {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .meet-alien_video{
        height: 433px;
    }

    .meet-alien-section_decor {
        display: block;
        position: absolute;
        left: 50%;
        top: 246px;
        width: 1590px;
        max-width: none;
        height: 960px;
        margin-left: -400px;
        z-index: -1;
        animation: alienDecorMoving 12s linear infinite alternate;
    }

    @keyframes alienDecorMoving {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(150px, -50px)
        }
        50% {
            transform: translate(0, -50px)
        }
        75% {
            transform: translate(-150px, -50px)
        }
        100% {
            transform: translate(0, 0);
        }
    }
}

@media (min-width: 1280px) {
    .meet-alien_text {
        margin-left: 100px;
    }

    .meet-alien_text h2 {
        font-size: 36px;
    }

    .meet-alien_video {
        height: 510px;
    }

}

@media (min-width: 1440px) {
    .meet-alien_text {
        margin-left: 150px;
    }
}