.st_main {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 10px;
  transition: all 1s;
}
.st_main.scrolled {
  height: 40vh;
  transition: all 1s;
}
.st_main.scrolled .st_main_cover {
  width: 140%;
  transition: all 1s;
}
.st_main_video_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svw;
}
.st_main_video {
  height: 100svh;
  width: 100svw;
  position: relative;
}
.st_consultation {
  position: relative;
}
.st_main::after {
  display: none;
  opacity: 0;
  z-index: 102;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px; /* Adjust thickness of the border */
  background: linear-gradient(to bottom, rgba(26, 29, 41, 0) 0%, rgba(26, 29, 41, 1) 100%);
}
.st_main.scrolled::after {
  display: block;
  opacity: 1;
}
.st_main.scrolled .st-main_texts {
  height: 0;
  transition: all 0.8s;
}
.st_main_video video {
  position: absolute;
  top: 55%;
  left: 50%;
  max-width: 100svw;
  max-height: 100svh;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}
.st_main_cover {
  transition: all 1s;

  position: absolute;
  top: 50%;
  left: 50%;
  /* max-width: 100svw; */
  max-height: 100svh;
  width: 100%;
  height: 100svh;
  transform: translate(-50%, -50%);

  z-index: 1;
}
.st-main_texts {
  z-index: 2;

  height: 210px;
  transition: all 1s;
}
h1 {
  color: #34b4f4;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 1000;
  line-height: 110%; /* 79.2px */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.st-main_texts_subtitle {
  color: #f7f3eb;
  /* Body Text */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 1090px;
}

.st-main_jars_wrapper {
  position: absolute;
  /* bottom: 200px; */
  right: 250px;
  z-index: 3;
  overflow: hidden;
  height: 689px;
  transition: all 1s;
}
.st_main.scrolled .st-main_jars_wrapper {
  height: 0;
  transition: all 1s;
}

.st-main_jars_left {
  position: relative;
  left: 50px;
  top: -40px;
  z-index: 1;
  animation: rotateLeft 6s infinite;
  max-height: 430px;
}
.st-main_jars_right {
  z-index: 2;
  animation: rotateRight 6s infinite;
}
.st-main_texts_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  /* max-width: 1420px; */
  width: 100%;
}
.st-main_texts.mob-texts {
  display: none;
}
.main-but-wrapper {
  margin-bottom: 80px;
  z-index: 103;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: all 0.5s;
}
.main-but {
  display: flex;
  height: 53.159px;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 40px;
  background: #34b4f4;
  color: #26355e;

  font-family: 'Roboto Flex';
  font-size: 12px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%; /* 14.4px */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 1s;
}
.main-but-wrapper:hover .main-but {
  gap: 12px;
  transition: all 0.5s;
}
.st_main.scrolled .main-but {
  opacity: 0;
  transition: all 0.3s;
}
@keyframes rotateLeft {
  0% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(12deg);
  }
}
@keyframes rotateRight {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@media (max-width: 1900px) {
  .st_main {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1780px) {
  .st_main {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1690px) {
  .st-main_jars_left {
    max-height: 270px;
    left: 30px;
    top: -25px;
  }
  .st-main_jars_right {
    max-height: 300px;
  }
  h1 {
    font-size: 55px;
  }
  .st_main {
    padding-left: 70px;
    padding-right: 70px;
  }
  .st-main_jars_wrapper {
    height: 442px;
    right: 100px;
    bottom: 50px;
  }
}
@media (max-width: 1515px) {
  .st_main {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1400px) {
  .st-main_jars_left {
    max-height: 270px;
    left: 30px;
    top: -25px;
  }
  .st-main_jars_right {
    max-height: 300px;
  }
  h1 {
    font-size: 55px;
  }
  .st_main {
    padding-left: 50px;
    padding-right: 50px;
  }
  .st-main_jars_wrapper {
    bottom: 50px;
    right: 0;
  }
}
@media (max-width: 1200px) {
  .st-main_jars_wrapper {
    right: 0px;
  }
  .st-main_texts {
    max-width: 1000px;
    padding-right: 20px;
  }
  .st-main_texts_subtitle {
    font-size: 16px;
  }
}
@media (max-width: 1060px) {
  .st_main {
    height: 50svh;
    max-height: 300px;
    width: 100svw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    padding-bottom: 0;
    margin-top: 80px;
  }
  .main-but-wrapper {
    display: none;
    margin-bottom: 0;
  }
  .mob_but-main {
    display: flex;
    margin-top: 32px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .st_main_video_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 50svh;
    width: 100svw;
  }
  .st_main_video {
    height: 50svh;
    width: 100svw;
    position: relative;
  }
  .st_main_video video {
    position: absolute;
    top: 55%;
    left: 50%;
    max-width: 100svw;
    max-height: 50svh;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
  }
  .st_main_cover {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100svw;
    max-height: 50svh;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);

    z-index: 1;
  }
  .desk-text {
    display: none;
  }
  .st-main_jars_left {
    max-height: 200px;
    top: -7px;
    left: 0px;
  }
  .st-main_jars_right {
    max-height: 218px;
    position: relative;
    left: -20px;
  }
  .st-main_jars_wrapper {
    height: auto;
    bottom: 0;
    right: 0;
    left: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .st-main_texts.mob-texts {
    display: block;
  }
  .st-main_texts {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 24px;
  }
  h1 {
    font-size: 28px;
  }
  .st-main_texts_subtitle {
    font-size: 17px;
    margin-top: 8px;
  }
}
@media (max-width: 500px) {
  .main-but {
    width: 100%;
  }
}
