* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
/*CSS RESET START*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*CSS RESET END*/

/*COLOR VARIABLES START*/
:root {
  --main-bg-color: #fff;
  --usual-decorations: #ef9f42;
  --main-text-color: #000;
}
/*COLOR VARIABLES END*/

body {
  background-color: #1a1d29;
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0, 'wdth' 114.2, 'GRAD' 0, 'XOPQ' 96, 'XTRA' 600, 'YOPQ' 79,
    'YTAS' 740, 'YTDE' -180, 'YTFI' 738, 'YTLC' 530, 'YTUC' 690;
}
.cta-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding-top: 76px;
  padding-bottom: 76px;
  overflow: hidden;
}

.cta-banner_image-desktop {
  display: none;
}

.cta-banner_image-mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.cta-banner .container {
  display: grid;
  grid-row-gap: 42px;
}

@media (min-width: 768px) {
  .cta-banner_image-desktop {
    display: block;
  }

  .cta-banner_image-mobile {
    display: none;
  }

  .cta-banner .container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    align-items: end;
  }

  .cta-banner_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 406px;
    object-fit: cover;
    object-position: right;
    z-index: -1;
  }
}

@media (min-width: 1024px) {
  .cta-banner_image {
    max-height: none;
  }

  .cta-banner_text {
    padding: 0;
  }

  .cta-banner .btn {
    width: auto;
  }
}

@media (min-width: 1280px) {
  .cta-banner {
    margin-top: 200px;
    padding-top: 180px;
    padding-bottom: 185px;
  }

  .cta-banner_subtitle {
    max-width: 985px;
  }

  .cta-banner .container {
    grid-template-columns: 980px 1fr;
  }
}

@media (min-width: 1440px) {
  .cta-banner .container {
    grid-template-columns: 1080px 1fr;
  }

  .unique-section {
    padding: 100px;
  }
}
.benefits-section {
  padding-bottom: 100px;
}

.benefits_section-description-wrapper {
  display: grid;
  grid-row-gap: 24px;
  margin-bottom: 42px;
}

.benefits_section-list {
  display: grid;
  gap: 24px;
}

.benefits_section-list::-webkit-scrollbar {
  display: none;
}

.benefits_section-list-item-wrapper {
  width: 327px;
  flex-shrink: 0;
}

.benefits_section-list-item {
  width: 100%;
  height: 100%;
  padding: 34px 30px;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: rgb(13 15 21);
}

.benefits_section-list-title {
  margin-bottom: 4px;
  font-size: 26px;
  line-height: 1.4;
}

.benefits_section-list-item-inner {
  position: relative;
  padding-left: 36px;
}

.benefits_section-list-item-inner:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='20' viewBox='0 0 26 20' fill='none'%3E%3Cpath d='M22.5634 0.587229C23.1595 -0.114117 24.2114 -0.1994 24.9127 0.396744C25.6141 0.992887 25.6993 2.04471 25.1032 2.74606L10.9365 19.4127C10.331 20.1251 9.25813 20.2001 8.55936 19.579L1.05936 12.9123C0.371389 12.3008 0.309422 11.2473 0.92095 10.5594C1.53248 9.8714 2.58594 9.80943 3.27391 10.421L9.50032 15.9556L22.5634 0.587229Z' fill='%2334B4F4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.benefits-section_decor {
  display: none;
}

@media (min-width: 768px) {
  .benefits_section-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin-right: 0;
    padding-right: 0;
    overflow: visible;
  }
}

@media (min-width: 1280px) {
  .benefits-section {
    padding-bottom: 200px;
    overflow: hidden;
  }

  .benefits_section-list_scroll-btn {
    display: none;
  }

  .benefits-section .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  .benefits-section h2 {
    max-width: 420px;
  }

  .benefits_section-text-wrapper {
    max-width: 780px;
  }

  .benefits_section-list-item-wrapper {
    width: 100%;
  }

  .benefits_section-list-item {
    padding: 30px;
  }

  .benefits-section_decor {
    position: absolute;
    left: -240px;
    top: 230px;
    display: block;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, #34b4f4 0%, transparent 70%);
    opacity: 0.7;
    filter: blur(100px);
    z-index: -1;
    animation: benefitsDecorMoving 8s linear infinite alternate;
  }

  @keyframes benefitsDecorMoving {
    0% {
      transform: translate(0, 0);
    }
    33% {
      transform: translate(200px, -250px);
    }
    66% {
      transform: translate(350px, -50px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 200px;
  max-width: 1600px;
  position: relative;
}

.faq-section__grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 80px;
}

.faq-section__title-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  width: 323px;
  flex-shrink: 0;
}

.faq-section__title {
  color: #34b4f4;
  font-family: 'Roboto Flex';
  font-size: 36px;
  font-style: normal;
  font-weight: 1000;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.faq-section__item-visible-text {
  color: #34b4f4;
  font-family: 'Roboto Flex';
  font-size: 36px;
  font-style: normal;
  font-weight: 1000;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.faq-section__content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1003px;
  gap: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.faq-section__item-container {
  display: flex;
  max-width: 1003px;
  width: 100%;
  padding: 30px 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid #34b4f4;
  background: #0d0f15;
  transition: all 0.9s;
}

.faq-section__item-visible {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.faq-section__item-visible-text {
  color: #34b4f4;
  font-family: 'Roboto Flex';
  font-size: 28px;
  font-style: normal;
  font-weight: 1000;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.first-text {
  width: 718px;
}

.second-text {
  width: 733px;
}

.third-text {
  width: 485px;
}

.fourth-text {
  width: 449px;
}

.faq-section__item-visible-btn {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  /* transition: all 0.9s; */
}
.faq-section__item-visible svg {
  transition: all 0.9s;
}
@media (min-width: 1025px) {
  .faq-section__item-visible:hover svg {
    transform: translateY(7px);
    transition: all 0.9s;
  }
}
.faq-section__item-visible:hover {
  cursor: pointer;
}
.faq-section__item-hidden {
  max-height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.4s ease;
  flex-direction: column;

  max-width: 932px;
  border-top: 1px solid #34b4f4;
}

.faq-section__item-hidden ul li {
  position: relative;
  padding-left: 16px;
}
.faq-section__item-hidden ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  height: 3px;
  width: 3px;
  background-color: rgb(255 255 255);
}

.faq-section__item-hidden-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.2px;
  transition: all 0.9s;
  margin-top: 20px;
}
.faq-section__item-container.active .faq-section__item-visible-btn {
  transform: rotate(180deg);
  transition: all 0s;
}
.faq-section__item-container.active .faq-section__item-hidden {
  max-height: 500px;
  opacity: 1;
}

.moving-light {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #34b4f4 0%, rgba(232, 117, 148, 0) 70%);
  filter: blur(150px) brightness(1.1);
  transform: translateX(-50%);
  z-index: -1;
  animation: light 6s infinite alternate-reverse;
}

@keyframes light {
  0% {
    opacity: 0.8;
    transform: translateX(-50%) translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(50vh);
  }
  100% {
    opacity: 0.8;
    transform: translateX(-50%) translateY(0);
  }
}

@media (max-width: 1860px) {
  .faq-section {
    margin: 0 200px 200px;
  }
}

@media (max-width: 1790px) {
  .faq-section {
    margin: 0 160px 200px;
  }
}

@media (max-width: 1279px) {
  .faq-section__grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    max-width: 950px;
    gap: 42px;
  }
}

@media (max-width: 1200px) {
  .faq-section {
    margin: 0 100px 200px;
  }
}

@media (max-width: 1030px) {
  .faq-section {
    margin: 0 50px 200px;
  }
}

@media (max-width: 980px) {
  .faq-section {
    margin: 0 110px 100px;
  }

  .faq-section__item-visible-text {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .faq-section__title {
    font-size: 28px;
  }

  .faq-section__item-visible-text {
    font-size: 18px;
  }

  .faq-section__grid {
    gap: 32px;
  }
}

@media (max-width: 750px) {
  .faq-section {
    margin: 0 24px 100px;
  }
}

@media (max-width: 500px) {
  .faq-section__item-visible {
    gap: 20px;
  }

  .faq-section__item-container {
    padding: 12px;
    border-radius: 8px;
  }

  .faq-section__title {
    font-size: 24px;
  }
}
body {
  background-color: rgb(26 29 41);
  color: rgb(255 255 255);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1470px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

section.section {
  padding-top: 100px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 14px 20px;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 12px;
  border-width: 0;
  border-radius: 40px;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  white-space: nowrap;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn-primary {
  color: rgb(38 53 94);
  background-color: rgb(52 180 244);
}

.btn-primary:hover {
  gap: 16px;
  background-color: rgb(149 216 249);
}

.btn_secondary-arrow {
  padding: 0;
  gap: 16px;
  background-color: transparent;
  color: rgb(52 180 244);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.btn_secondary-arrow svg {
  transition-duration: 0.3s;
}

.btn_secondary-arrow:hover svg {
  transform: translateX(4px);
}

h1,
h2,
h3,
h4,
.title {
  color: rgb(52 180 244);
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 24px;
  font-size: 28px;
}

h2 {
  margin-bottom: 32px;
  font-size: 24px;
}

h3 {
  margin-bottom: 24px;
  font-size: 24px;
}

p {
  line-height: 1.5;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button-wrapper .btn {
  width: 100%;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}

.list_check li {
  position: relative;
  padding-left: 38px;
}

.list_check li:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='29' viewBox='0 0 28 29' fill='none'%3E%3Cpath d='M20.6944 7.67574C21.1117 7.16727 21.848 7.10544 22.3389 7.53764C22.8298 7.96984 22.8895 8.73242 22.4722 9.24089L12.5556 21.3242C12.1317 21.8407 11.3807 21.8951 10.8916 21.4448L5.64155 16.6114C5.15997 16.1681 5.11659 15.4043 5.54466 14.9055C5.97273 14.4068 6.71015 14.3618 7.19173 14.8052L11.5502 18.8178L20.6944 7.67574Z' fill='%2334B4F4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.list_check.check-white li:before {
  top: -9px;
  background-image: url("data:image/svg+xml,%3Csvg width='335' height='33' viewBox='0 0 335 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6944 9.67721C21.1117 9.16873 21.848 9.1069 22.3389 9.5391C22.8298 9.97131 22.8895 10.7339 22.4722 11.2424L12.5556 23.3257C12.1317 23.8421 11.3807 23.8966 10.8916 23.4462L5.64155 18.6129C5.15997 18.1695 5.11659 17.4058 5.54466 16.907C5.97273 16.4082 6.71015 16.3633 7.19173 16.8067L11.5502 20.8192L20.6944 9.67721Z' fill='white'/%3E%3Cpath d='M47.4482 21.6641V23H39.0723V21.8311L43.2646 17.1641C43.7803 16.5898 44.1787 16.1035 44.46 15.7051C44.7471 15.3008 44.9463 14.9404 45.0576 14.624C45.1748 14.3018 45.2334 13.9736 45.2334 13.6396C45.2334 13.2178 45.1455 12.8369 44.9697 12.4971C44.7998 12.1514 44.5479 11.876 44.2139 11.6709C43.8799 11.4658 43.4756 11.3633 43.001 11.3633C42.4326 11.3633 41.958 11.4746 41.5771 11.6973C41.2021 11.9141 40.9209 12.2188 40.7334 12.6113C40.5459 13.0039 40.4521 13.4551 40.4521 13.9648H38.8262C38.8262 13.2441 38.9844 12.585 39.3008 11.9873C39.6172 11.3896 40.0859 10.915 40.707 10.5635C41.3281 10.2061 42.0928 10.0273 43.001 10.0273C43.8096 10.0273 44.501 10.1709 45.0752 10.458C45.6494 10.7393 46.0889 11.1377 46.3936 11.6533C46.7041 12.1631 46.8594 12.7607 46.8594 13.4463C46.8594 13.8213 46.7949 14.2021 46.666 14.5889C46.543 14.9697 46.3701 15.3506 46.1475 15.7314C45.9307 16.1123 45.6758 16.4873 45.3828 16.8564C45.0957 17.2256 44.7881 17.5889 44.46 17.9463L41.0322 21.6641H47.4482ZM57.2217 15.582V17.5332C57.2217 18.582 57.1279 19.4668 56.9404 20.1875C56.7529 20.9082 56.4834 21.4883 56.1318 21.9277C55.7803 22.3672 55.3555 22.6865 54.8574 22.8857C54.3652 23.0791 53.8086 23.1758 53.1875 23.1758C52.6953 23.1758 52.2412 23.1143 51.8252 22.9912C51.4092 22.8682 51.0342 22.6719 50.7002 22.4023C50.3721 22.127 50.0908 21.7695 49.8564 21.3301C49.6221 20.8906 49.4434 20.3574 49.3203 19.7305C49.1973 19.1035 49.1357 18.3711 49.1357 17.5332V15.582C49.1357 14.5332 49.2295 13.6543 49.417 12.9453C49.6104 12.2363 49.8828 11.668 50.2344 11.2402C50.5859 10.8066 51.0078 10.4961 51.5 10.3086C51.998 10.1211 52.5547 10.0273 53.1699 10.0273C53.668 10.0273 54.125 10.0889 54.541 10.2119C54.9629 10.3291 55.3379 10.5195 55.666 10.7832C55.9941 11.041 56.2725 11.3867 56.501 11.8203C56.7354 12.248 56.9141 12.7725 57.0371 13.3936C57.1602 14.0146 57.2217 14.7441 57.2217 15.582ZM55.5869 17.7969V15.3096C55.5869 14.7354 55.5518 14.2314 55.4814 13.7979C55.417 13.3584 55.3203 12.9834 55.1914 12.6729C55.0625 12.3623 54.8984 12.1104 54.6992 11.917C54.5059 11.7236 54.2803 11.583 54.0225 11.4951C53.7705 11.4014 53.4863 11.3545 53.1699 11.3545C52.7832 11.3545 52.4404 11.4277 52.1416 11.5742C51.8428 11.7148 51.5908 11.9404 51.3857 12.251C51.1865 12.5615 51.0342 12.9688 50.9287 13.4727C50.8232 13.9766 50.7705 14.5889 50.7705 15.3096V17.7969C50.7705 18.3711 50.8027 18.8779 50.8672 19.3174C50.9375 19.7568 51.04 20.1377 51.1748 20.46C51.3096 20.7764 51.4736 21.0371 51.667 21.2422C51.8604 21.4473 52.083 21.5996 52.335 21.6992C52.5928 21.793 52.877 21.8398 53.1875 21.8398C53.5859 21.8398 53.9346 21.7637 54.2334 21.6113C54.5322 21.459 54.7812 21.2217 54.9805 20.8994C55.1855 20.5713 55.3379 20.1523 55.4375 19.6426C55.5371 19.127 55.5869 18.5117 55.5869 17.7969ZM64.7363 10.2031H66.3799L70.5723 20.6357L74.7559 10.2031H76.4082L71.2051 23H69.9219L64.7363 10.2031ZM64.2002 10.2031H65.6504L65.8877 18.0078V23H64.2002V10.2031ZM75.4854 10.2031H76.9355V23H75.248V18.0078L75.4854 10.2031ZM81.4355 13.4902V23H79.8008V13.4902H81.4355ZM79.6777 10.9678C79.6777 10.7041 79.7568 10.4814 79.915 10.2998C80.0791 10.1182 80.3193 10.0273 80.6357 10.0273C80.9463 10.0273 81.1836 10.1182 81.3477 10.2998C81.5176 10.4814 81.6025 10.7041 81.6025 10.9678C81.6025 11.2197 81.5176 11.4365 81.3477 11.6182C81.1836 11.7939 80.9463 11.8818 80.6357 11.8818C80.3193 11.8818 80.0791 11.7939 79.915 11.6182C79.7568 11.4365 79.6777 11.2197 79.6777 10.9678ZM85.6719 15.5205V23H84.0459V13.4902H85.584L85.6719 15.5205ZM85.2852 17.8848L84.6084 17.8584C84.6143 17.208 84.7109 16.6074 84.8984 16.0566C85.0859 15.5 85.3496 15.0166 85.6895 14.6064C86.0293 14.1963 86.4336 13.8799 86.9023 13.6572C87.377 13.4287 87.9014 13.3145 88.4756 13.3145C88.9443 13.3145 89.3662 13.3789 89.7412 13.5078C90.1162 13.6309 90.4355 13.8301 90.6992 14.1055C90.9688 14.3809 91.1738 14.7383 91.3145 15.1777C91.4551 15.6113 91.5254 16.1416 91.5254 16.7686V23H89.8906V16.751C89.8906 16.2529 89.8174 15.8545 89.6709 15.5557C89.5244 15.251 89.3105 15.0312 89.0293 14.8965C88.748 14.7559 88.4023 14.6855 87.9922 14.6855C87.5879 14.6855 87.2188 14.7705 86.8848 14.9404C86.5566 15.1104 86.2725 15.3447 86.0322 15.6436C85.7979 15.9424 85.6133 16.2852 85.4785 16.6719C85.3496 17.0527 85.2852 17.457 85.2852 17.8848ZM99.8135 20.8027V13.4902H101.448V23H99.8926L99.8135 20.8027ZM100.121 18.7988L100.798 18.7812C100.798 19.4141 100.73 20 100.596 20.5391C100.467 21.0723 100.256 21.5352 99.9629 21.9277C99.6699 22.3203 99.2861 22.6279 98.8115 22.8506C98.3369 23.0674 97.7598 23.1758 97.0801 23.1758C96.6172 23.1758 96.1924 23.1084 95.8057 22.9736C95.4248 22.8389 95.0967 22.6309 94.8213 22.3496C94.5459 22.0684 94.332 21.7021 94.1797 21.251C94.0332 20.7998 93.96 20.2578 93.96 19.625V13.4902H95.5859V19.6426C95.5859 20.0703 95.6328 20.4248 95.7266 20.7061C95.8262 20.9814 95.958 21.2012 96.1221 21.3652C96.292 21.5234 96.4795 21.6348 96.6846 21.6992C96.8955 21.7637 97.1123 21.7959 97.335 21.7959C98.0264 21.7959 98.5742 21.6641 98.9785 21.4004C99.3828 21.1309 99.6729 20.7705 99.8486 20.3193C100.03 19.8623 100.121 19.3555 100.121 18.7988ZM107.908 13.4902V14.7383H102.767V13.4902H107.908ZM104.507 11.1787H106.133V20.6445C106.133 20.9668 106.183 21.21 106.282 21.374C106.382 21.5381 106.511 21.6465 106.669 21.6992C106.827 21.752 106.997 21.7783 107.179 21.7783C107.313 21.7783 107.454 21.7666 107.601 21.7432C107.753 21.7139 107.867 21.6904 107.943 21.6729L107.952 23C107.823 23.041 107.653 23.0791 107.442 23.1143C107.237 23.1553 106.988 23.1758 106.695 23.1758C106.297 23.1758 105.931 23.0967 105.597 22.9385C105.263 22.7803 104.996 22.5166 104.797 22.1475C104.604 21.7725 104.507 21.2686 104.507 20.6357V11.1787ZM113.762 23.1758C113.1 23.1758 112.499 23.0645 111.96 22.8418C111.427 22.6133 110.967 22.2939 110.58 21.8838C110.199 21.4736 109.906 20.9873 109.701 20.4248C109.496 19.8623 109.394 19.2471 109.394 18.5791V18.21C109.394 17.4365 109.508 16.748 109.736 16.1445C109.965 15.5352 110.275 15.0195 110.668 14.5977C111.061 14.1758 111.506 13.8564 112.004 13.6396C112.502 13.4229 113.018 13.3145 113.551 13.3145C114.23 13.3145 114.816 13.4316 115.309 13.666C115.807 13.9004 116.214 14.2285 116.53 14.6504C116.847 15.0664 117.081 15.5586 117.233 16.127C117.386 16.6895 117.462 17.3047 117.462 17.9727V18.7021H110.36V17.375H115.836V17.252C115.812 16.8301 115.725 16.4199 115.572 16.0215C115.426 15.623 115.191 15.2949 114.869 15.0371C114.547 14.7793 114.107 14.6504 113.551 14.6504C113.182 14.6504 112.842 14.7295 112.531 14.8877C112.221 15.04 111.954 15.2686 111.731 15.5732C111.509 15.8779 111.336 16.25 111.213 16.6895C111.09 17.1289 111.028 17.6357 111.028 18.21V18.5791C111.028 19.0303 111.09 19.4551 111.213 19.8535C111.342 20.2461 111.526 20.5918 111.767 20.8906C112.013 21.1895 112.309 21.4238 112.654 21.5938C113.006 21.7637 113.404 21.8486 113.85 21.8486C114.424 21.8486 114.91 21.7314 115.309 21.4971C115.707 21.2627 116.056 20.9492 116.354 20.5566L117.339 21.3389C117.134 21.6494 116.873 21.9453 116.557 22.2266C116.24 22.5078 115.851 22.7363 115.388 22.9121C114.931 23.0879 114.389 23.1758 113.762 23.1758ZM130.892 19.7656C130.892 19.4668 130.845 19.2031 130.751 18.9746C130.663 18.7402 130.505 18.5293 130.276 18.3418C130.054 18.1543 129.743 17.9756 129.345 17.8057C128.952 17.6357 128.454 17.4629 127.851 17.2871C127.218 17.0996 126.646 16.8916 126.137 16.6631C125.627 16.4287 125.19 16.1621 124.827 15.8633C124.464 15.5645 124.186 15.2217 123.992 14.835C123.799 14.4482 123.702 14.0059 123.702 13.5078C123.702 13.0098 123.805 12.5498 124.01 12.1279C124.215 11.7061 124.508 11.3398 124.889 11.0293C125.275 10.7129 125.735 10.4668 126.269 10.291C126.802 10.1152 127.396 10.0273 128.053 10.0273C129.014 10.0273 129.828 10.2119 130.496 10.5811C131.17 10.9443 131.683 11.4219 132.034 12.0137C132.386 12.5996 132.562 13.2266 132.562 13.8945H130.874C130.874 13.4141 130.771 12.9893 130.566 12.6201C130.361 12.2451 130.051 11.9521 129.635 11.7412C129.219 11.5244 128.691 11.416 128.053 11.416C127.449 11.416 126.951 11.5068 126.559 11.6885C126.166 11.8701 125.873 12.1162 125.68 12.4268C125.492 12.7373 125.398 13.0918 125.398 13.4902C125.398 13.7598 125.454 14.0059 125.565 14.2285C125.683 14.4453 125.861 14.6475 126.102 14.835C126.348 15.0225 126.658 15.1953 127.033 15.3535C127.414 15.5117 127.868 15.6641 128.396 15.8105C129.122 16.0156 129.749 16.2441 130.276 16.4961C130.804 16.748 131.237 17.0322 131.577 17.3486C131.923 17.6592 132.178 18.0137 132.342 18.4121C132.512 18.8047 132.597 19.25 132.597 19.748C132.597 20.2695 132.491 20.7412 132.28 21.1631C132.069 21.585 131.768 21.9453 131.375 22.2441C130.982 22.543 130.511 22.7744 129.96 22.9385C129.415 23.0967 128.806 23.1758 128.132 23.1758C127.54 23.1758 126.957 23.0938 126.383 22.9297C125.814 22.7656 125.296 22.5195 124.827 22.1914C124.364 21.8633 123.992 21.459 123.711 20.9785C123.436 20.4922 123.298 19.9297 123.298 19.291H124.985C124.985 19.7305 125.07 20.1084 125.24 20.4248C125.41 20.7354 125.642 20.9932 125.935 21.1982C126.233 21.4033 126.57 21.5557 126.945 21.6553C127.326 21.749 127.722 21.7959 128.132 21.7959C128.724 21.7959 129.225 21.7139 129.635 21.5498C130.045 21.3857 130.355 21.1514 130.566 20.8467C130.783 20.542 130.892 20.1816 130.892 19.7656ZM138.459 23.1758C137.797 23.1758 137.196 23.0645 136.657 22.8418C136.124 22.6133 135.664 22.2939 135.277 21.8838C134.896 21.4736 134.604 20.9873 134.398 20.4248C134.193 19.8623 134.091 19.2471 134.091 18.5791V18.21C134.091 17.4365 134.205 16.748 134.434 16.1445C134.662 15.5352 134.973 15.0195 135.365 14.5977C135.758 14.1758 136.203 13.8564 136.701 13.6396C137.199 13.4229 137.715 13.3145 138.248 13.3145C138.928 13.3145 139.514 13.4316 140.006 13.666C140.504 13.9004 140.911 14.2285 141.228 14.6504C141.544 15.0664 141.778 15.5586 141.931 16.127C142.083 16.6895 142.159 17.3047 142.159 17.9727V18.7021H135.058V17.375H140.533V17.252C140.51 16.8301 140.422 16.4199 140.27 16.0215C140.123 15.623 139.889 15.2949 139.566 15.0371C139.244 14.7793 138.805 14.6504 138.248 14.6504C137.879 14.6504 137.539 14.7295 137.229 14.8877C136.918 15.04 136.651 15.2686 136.429 15.5732C136.206 15.8779 136.033 16.25 135.91 16.6895C135.787 17.1289 135.726 17.6357 135.726 18.21V18.5791C135.726 19.0303 135.787 19.4551 135.91 19.8535C136.039 20.2461 136.224 20.5918 136.464 20.8906C136.71 21.1895 137.006 21.4238 137.352 21.5938C137.703 21.7637 138.102 21.8486 138.547 21.8486C139.121 21.8486 139.607 21.7314 140.006 21.4971C140.404 21.2627 140.753 20.9492 141.052 20.5566L142.036 21.3389C141.831 21.6494 141.57 21.9453 141.254 22.2266C140.938 22.5078 140.548 22.7363 140.085 22.9121C139.628 23.0879 139.086 23.1758 138.459 23.1758ZM149.595 20.4775C149.595 20.2432 149.542 20.0264 149.437 19.8271C149.337 19.6221 149.129 19.4375 148.812 19.2734C148.502 19.1035 148.033 18.957 147.406 18.834C146.879 18.7227 146.401 18.5908 145.974 18.4385C145.552 18.2861 145.191 18.1016 144.893 17.8848C144.6 17.668 144.374 17.4131 144.216 17.1201C144.058 16.8271 143.979 16.4844 143.979 16.0918C143.979 15.7168 144.061 15.3623 144.225 15.0283C144.395 14.6943 144.632 14.3984 144.937 14.1406C145.247 13.8828 145.619 13.6807 146.053 13.5342C146.486 13.3877 146.97 13.3145 147.503 13.3145C148.265 13.3145 148.915 13.4492 149.454 13.7188C149.993 13.9883 150.406 14.3486 150.693 14.7998C150.98 15.2451 151.124 15.7402 151.124 16.2852H149.498C149.498 16.0215 149.419 15.7666 149.261 15.5205C149.108 15.2686 148.883 15.0605 148.584 14.8965C148.291 14.7324 147.931 14.6504 147.503 14.6504C147.052 14.6504 146.686 14.7207 146.404 14.8613C146.129 14.9961 145.927 15.1689 145.798 15.3799C145.675 15.5908 145.613 15.8135 145.613 16.0479C145.613 16.2236 145.643 16.3818 145.701 16.5225C145.766 16.6572 145.877 16.7832 146.035 16.9004C146.193 17.0117 146.416 17.1172 146.703 17.2168C146.99 17.3164 147.356 17.416 147.802 17.5156C148.581 17.6914 149.223 17.9023 149.727 18.1484C150.23 18.3945 150.605 18.6963 150.852 19.0537C151.098 19.4111 151.221 19.8447 151.221 20.3545C151.221 20.7705 151.133 21.1514 150.957 21.4971C150.787 21.8428 150.538 22.1416 150.21 22.3936C149.888 22.6396 149.501 22.833 149.05 22.9736C148.604 23.1084 148.104 23.1758 147.547 23.1758C146.709 23.1758 146 23.0264 145.42 22.7275C144.84 22.4287 144.4 22.042 144.102 21.5674C143.803 21.0928 143.653 20.5918 143.653 20.0645H145.288C145.312 20.5098 145.44 20.8643 145.675 21.1279C145.909 21.3857 146.196 21.5703 146.536 21.6816C146.876 21.7871 147.213 21.8398 147.547 21.8398C147.992 21.8398 148.364 21.7812 148.663 21.6641C148.968 21.5469 149.199 21.3857 149.357 21.1807C149.516 20.9756 149.595 20.7412 149.595 20.4775ZM158.894 20.4775C158.894 20.2432 158.841 20.0264 158.735 19.8271C158.636 19.6221 158.428 19.4375 158.111 19.2734C157.801 19.1035 157.332 18.957 156.705 18.834C156.178 18.7227 155.7 18.5908 155.272 18.4385C154.851 18.2861 154.49 18.1016 154.191 17.8848C153.898 17.668 153.673 17.4131 153.515 17.1201C153.356 16.8271 153.277 16.4844 153.277 16.0918C153.277 15.7168 153.359 15.3623 153.523 15.0283C153.693 14.6943 153.931 14.3984 154.235 14.1406C154.546 13.8828 154.918 13.6807 155.352 13.5342C155.785 13.3877 156.269 13.3145 156.802 13.3145C157.563 13.3145 158.214 13.4492 158.753 13.7188C159.292 13.9883 159.705 14.3486 159.992 14.7998C160.279 15.2451 160.423 15.7402 160.423 16.2852H158.797C158.797 16.0215 158.718 15.7666 158.56 15.5205C158.407 15.2686 158.182 15.0605 157.883 14.8965C157.59 14.7324 157.229 14.6504 156.802 14.6504C156.351 14.6504 155.984 14.7207 155.703 14.8613C155.428 14.9961 155.226 15.1689 155.097 15.3799C154.974 15.5908 154.912 15.8135 154.912 16.0479C154.912 16.2236 154.941 16.3818 155 16.5225C155.064 16.6572 155.176 16.7832 155.334 16.9004C155.492 17.0117 155.715 17.1172 156.002 17.2168C156.289 17.3164 156.655 17.416 157.101 17.5156C157.88 17.6914 158.521 17.9023 159.025 18.1484C159.529 18.3945 159.904 18.6963 160.15 19.0537C160.396 19.4111 160.52 19.8447 160.52 20.3545C160.52 20.7705 160.432 21.1514 160.256 21.4971C160.086 21.8428 159.837 22.1416 159.509 22.3936C159.187 22.6396 158.8 22.833 158.349 22.9736C157.903 23.1084 157.402 23.1758 156.846 23.1758C156.008 23.1758 155.299 23.0264 154.719 22.7275C154.139 22.4287 153.699 22.042 153.4 21.5674C153.102 21.0928 152.952 20.5918 152.952 20.0645H154.587C154.61 20.5098 154.739 20.8643 154.974 21.1279C155.208 21.3857 155.495 21.5703 155.835 21.6816C156.175 21.7871 156.512 21.8398 156.846 21.8398C157.291 21.8398 157.663 21.7812 157.962 21.6641C158.267 21.5469 158.498 21.3857 158.656 21.1807C158.814 20.9756 158.894 20.7412 158.894 20.4775ZM164.422 13.4902V23H162.787V13.4902H164.422ZM162.664 10.9678C162.664 10.7041 162.743 10.4814 162.901 10.2998C163.065 10.1182 163.306 10.0273 163.622 10.0273C163.933 10.0273 164.17 10.1182 164.334 10.2998C164.504 10.4814 164.589 10.7041 164.589 10.9678C164.589 11.2197 164.504 11.4365 164.334 11.6182C164.17 11.7939 163.933 11.8818 163.622 11.8818C163.306 11.8818 163.065 11.7939 162.901 11.6182C162.743 11.4365 162.664 11.2197 162.664 10.9678ZM166.602 18.3506V18.1484C166.602 17.4629 166.701 16.8271 166.9 16.2412C167.1 15.6494 167.387 15.1367 167.762 14.7031C168.137 14.2637 168.591 13.9238 169.124 13.6836C169.657 13.4375 170.255 13.3145 170.917 13.3145C171.585 13.3145 172.186 13.4375 172.719 13.6836C173.258 13.9238 173.715 14.2637 174.09 14.7031C174.471 15.1367 174.761 15.6494 174.96 16.2412C175.159 16.8271 175.259 17.4629 175.259 18.1484V18.3506C175.259 19.0361 175.159 19.6719 174.96 20.2578C174.761 20.8438 174.471 21.3564 174.09 21.7959C173.715 22.2295 173.261 22.5693 172.728 22.8154C172.2 23.0557 171.603 23.1758 170.935 23.1758C170.267 23.1758 169.666 23.0557 169.133 22.8154C168.6 22.5693 168.143 22.2295 167.762 21.7959C167.387 21.3564 167.1 20.8438 166.9 20.2578C166.701 19.6719 166.602 19.0361 166.602 18.3506ZM168.228 18.1484V18.3506C168.228 18.8252 168.283 19.2734 168.395 19.6953C168.506 20.1113 168.673 20.4805 168.896 20.8027C169.124 21.125 169.408 21.3799 169.748 21.5674C170.088 21.749 170.483 21.8398 170.935 21.8398C171.38 21.8398 171.77 21.749 172.104 21.5674C172.443 21.3799 172.725 21.125 172.947 20.8027C173.17 20.4805 173.337 20.1113 173.448 19.6953C173.565 19.2734 173.624 18.8252 173.624 18.3506V18.1484C173.624 17.6797 173.565 17.2373 173.448 16.8213C173.337 16.3994 173.167 16.0273 172.938 15.7051C172.716 15.377 172.435 15.1191 172.095 14.9316C171.761 14.7441 171.368 14.6504 170.917 14.6504C170.472 14.6504 170.079 14.7441 169.739 14.9316C169.405 15.1191 169.124 15.377 168.896 15.7051C168.673 16.0273 168.506 16.3994 168.395 16.8213C168.283 17.2373 168.228 17.6797 168.228 18.1484ZM178.924 15.5205V23H177.298V13.4902H178.836L178.924 15.5205ZM178.537 17.8848L177.86 17.8584C177.866 17.208 177.963 16.6074 178.15 16.0566C178.338 15.5 178.602 15.0166 178.941 14.6064C179.281 14.1963 179.686 13.8799 180.154 13.6572C180.629 13.4287 181.153 13.3145 181.728 13.3145C182.196 13.3145 182.618 13.3789 182.993 13.5078C183.368 13.6309 183.688 13.8301 183.951 14.1055C184.221 14.3809 184.426 14.7383 184.566 15.1777C184.707 15.6113 184.777 16.1416 184.777 16.7686V23H183.143V16.751C183.143 16.2529 183.069 15.8545 182.923 15.5557C182.776 15.251 182.562 15.0312 182.281 14.8965C182 14.7559 181.654 14.6855 181.244 14.6855C180.84 14.6855 180.471 14.7705 180.137 14.9404C179.809 15.1104 179.524 15.3447 179.284 15.6436C179.05 15.9424 178.865 16.2852 178.73 16.6719C178.602 17.0527 178.537 17.457 178.537 17.8848ZM195.096 16.8916V18.2275H190.807V16.8916H195.096ZM205.836 8.12891V10.8096H204.518V8.12891H205.836ZM205.678 22.4814V24.8281H204.368V22.4814H205.678ZM207.436 19.7041C207.436 19.3525 207.356 19.0361 207.198 18.7549C207.04 18.4736 206.779 18.2158 206.416 17.9814C206.053 17.7471 205.566 17.5303 204.957 17.3311C204.219 17.1025 203.58 16.8242 203.041 16.4961C202.508 16.168 202.095 15.7607 201.802 15.2744C201.515 14.7881 201.371 14.1992 201.371 13.5078C201.371 12.7871 201.526 12.166 201.837 11.6445C202.147 11.123 202.587 10.7217 203.155 10.4404C203.724 10.1592 204.392 10.0186 205.159 10.0186C205.757 10.0186 206.29 10.1094 206.759 10.291C207.228 10.4668 207.623 10.7305 207.945 11.082C208.273 11.4336 208.522 11.8643 208.692 12.374C208.868 12.8838 208.956 13.4727 208.956 14.1406H207.339C207.339 13.748 207.292 13.3877 207.198 13.0596C207.104 12.7314 206.964 12.4473 206.776 12.207C206.589 11.9609 206.36 11.7734 206.091 11.6445C205.821 11.5098 205.511 11.4424 205.159 11.4424C204.667 11.4424 204.26 11.5273 203.938 11.6973C203.621 11.8672 203.387 12.1074 203.234 12.418C203.082 12.7227 203.006 13.0771 203.006 13.4814C203.006 13.8564 203.082 14.1846 203.234 14.4658C203.387 14.7471 203.645 15.002 204.008 15.2305C204.377 15.4531 204.884 15.6729 205.528 15.8896C206.284 16.1299 206.926 16.4141 207.453 16.7422C207.98 17.0645 208.382 17.4629 208.657 17.9375C208.933 18.4062 209.07 18.9893 209.07 19.6865C209.07 20.4424 208.9 21.0811 208.561 21.6025C208.221 22.1182 207.743 22.5107 207.128 22.7803C206.513 23.0498 205.792 23.1846 204.966 23.1846C204.468 23.1846 203.976 23.1172 203.489 22.9824C203.003 22.8477 202.563 22.6279 202.171 22.3232C201.778 22.0127 201.465 21.6055 201.23 21.1016C200.996 20.5918 200.879 19.9678 200.879 19.2295H202.514C202.514 19.7275 202.584 20.1406 202.725 20.4688C202.871 20.791 203.064 21.0488 203.305 21.2422C203.545 21.4297 203.809 21.5645 204.096 21.6465C204.389 21.7227 204.679 21.7607 204.966 21.7607C205.493 21.7607 205.938 21.6787 206.302 21.5146C206.671 21.3447 206.952 21.1045 207.146 20.7939C207.339 20.4834 207.436 20.1201 207.436 19.7041ZM213.474 15.8018H214.634C215.202 15.8018 215.671 15.708 216.04 15.5205C216.415 15.3271 216.693 15.0664 216.875 14.7383C217.062 14.4043 217.156 14.0293 217.156 13.6133C217.156 13.1211 217.074 12.708 216.91 12.374C216.746 12.04 216.5 11.7881 216.172 11.6182C215.844 11.4482 215.428 11.3633 214.924 11.3633C214.467 11.3633 214.062 11.4541 213.711 11.6357C213.365 11.8115 213.093 12.0635 212.894 12.3916C212.7 12.7197 212.604 13.1064 212.604 13.5518H210.978C210.978 12.9014 211.142 12.3096 211.47 11.7764C211.798 11.2432 212.258 10.8184 212.85 10.502C213.447 10.1855 214.139 10.0273 214.924 10.0273C215.697 10.0273 216.374 10.165 216.954 10.4404C217.534 10.71 217.985 11.1143 218.308 11.6533C218.63 12.1865 218.791 12.8516 218.791 13.6484C218.791 13.9707 218.715 14.3164 218.562 14.6855C218.416 15.0488 218.185 15.3887 217.868 15.7051C217.558 16.0215 217.153 16.2822 216.655 16.4873C216.157 16.6865 215.56 16.7861 214.862 16.7861H213.474V15.8018ZM213.474 17.1377V16.1621H214.862C215.677 16.1621 216.351 16.2588 216.884 16.4521C217.417 16.6455 217.836 16.9033 218.141 17.2256C218.451 17.5479 218.668 17.9023 218.791 18.2891C218.92 18.6699 218.984 19.0508 218.984 19.4316C218.984 20.0293 218.882 20.5596 218.677 21.0225C218.478 21.4854 218.193 21.8779 217.824 22.2002C217.461 22.5225 217.033 22.7656 216.541 22.9297C216.049 23.0938 215.513 23.1758 214.933 23.1758C214.376 23.1758 213.852 23.0967 213.359 22.9385C212.873 22.7803 212.442 22.5518 212.067 22.2529C211.692 21.9482 211.399 21.5762 211.188 21.1367C210.978 20.6914 210.872 20.1846 210.872 19.6162H212.498C212.498 20.0615 212.595 20.4512 212.788 20.7852C212.987 21.1191 213.269 21.3799 213.632 21.5674C214.001 21.749 214.435 21.8398 214.933 21.8398C215.431 21.8398 215.858 21.7549 216.216 21.585C216.579 21.4092 216.857 21.1455 217.051 20.7939C217.25 20.4424 217.35 20 217.35 19.4668C217.35 18.9336 217.238 18.4971 217.016 18.1572C216.793 17.8115 216.477 17.5566 216.066 17.3926C215.662 17.2227 215.185 17.1377 214.634 17.1377H213.474ZM223.282 16.9092L221.981 16.5752L222.623 10.2031H229.188V11.7061H224.003L223.616 15.1865C223.851 15.0518 224.146 14.9258 224.504 14.8086C224.867 14.6914 225.283 14.6328 225.752 14.6328C226.344 14.6328 226.874 14.7354 227.343 14.9404C227.812 15.1396 228.21 15.4268 228.538 15.8018C228.872 16.1768 229.127 16.6279 229.303 17.1553C229.479 17.6826 229.566 18.2715 229.566 18.9219C229.566 19.5371 229.481 20.1025 229.312 20.6182C229.147 21.1338 228.898 21.585 228.564 21.9717C228.23 22.3525 227.809 22.6484 227.299 22.8594C226.795 23.0703 226.2 23.1758 225.515 23.1758C224.999 23.1758 224.51 23.1055 224.047 22.9648C223.59 22.8184 223.18 22.5986 222.816 22.3057C222.459 22.0068 222.166 21.6377 221.938 21.1982C221.715 20.7529 221.574 20.2314 221.516 19.6338H223.062C223.133 20.1143 223.273 20.5186 223.484 20.8467C223.695 21.1748 223.971 21.4238 224.311 21.5938C224.656 21.7578 225.058 21.8398 225.515 21.8398C225.901 21.8398 226.244 21.7725 226.543 21.6377C226.842 21.5029 227.094 21.3096 227.299 21.0576C227.504 20.8057 227.659 20.501 227.765 20.1436C227.876 19.7861 227.932 19.3848 227.932 18.9395C227.932 18.5352 227.876 18.1602 227.765 17.8145C227.653 17.4688 227.486 17.167 227.264 16.9092C227.047 16.6514 226.78 16.4521 226.464 16.3115C226.147 16.165 225.784 16.0918 225.374 16.0918C224.829 16.0918 224.416 16.165 224.135 16.3115C223.859 16.458 223.575 16.6572 223.282 16.9092Z' fill='white'/%3E%3C/svg%3E%0A");
}

.four-in-row {
  display: grid;
}

.scroll-btn {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 12px;
  margin-left: auto;
  background-color: transparent;
  border-width: 0;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: rgb(79 80 88);
}

.section-scroll__container {
  padding-right: 24px;
}

@media (min-width: 768px) {
  .button-wrapper .btn {
    max-width: 300px;
  }

  .four-in-row {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  h1 {
    max-width: 1200px;
    font-size: 72px;
    letter-spacing: 2px;
  }

  h2 {
    margin-bottom: 26px;
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
    line-height: 1.4;
  }

  .button-wrapper .btn {
    max-width: none;
  }

  .four-in-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  section.section {
    padding-top: 200px;
  }

  .four-in-row {
    grid-template-columns: repeat(4, 1fr);
  }
}
.hero .hero_bg {
  display: none;
}

.hero_img {
  height: 250px;
  margin-bottom: 20px;
}

.hero_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_description {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero_description-wrapper {
  display: grid;
  grid-row-gap: 12px;
}

@media (min-width: 768px) {
  .hero_img {
    height: 350px;
    margin-bottom: -40px;
  }

  .hero .hero_bg-mobile {
    display: none;
  }

  .hero .hero_bg {
    display: block;
  }
}

@media (min-width: 1024px) {
  .hero {
    position: relative;
    padding-top: 574px;
  }

  .hero_img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    z-index: -1;
  }

  .hero_description {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .hero_description-wrapper {
    max-width: 75%;
  }

  .hero_description .btn {
    width: auto;
    flex-shrink: 0;
  }
}

@media (min-width: 1280px) {
  .hero_description-wrapper {
    max-width: 1080px;
  }
}
.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 250px 200px;
}

.review-section__content-container {
  display: grid;
  grid-template-columns: repeat(3, 459px);
  grid-template-rows: auto 1fr;
  justify-content: center;
  gap: 22px;
  row-gap: 42px;
  width: 100%;
}
.mob_title {
  display: none;
}
.review-section__container-title {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
}

.review-section__title {
  color: #34b4f4;
  font-family: 'Roboto Flex';
  font-size: 36px;
  font-style: normal;
  font-weight: 1000;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.review-section__item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 459px;
  padding: 20px 24px;
  border-radius: 24px;
  border: 1px solid #4f5058;
  position: relative;
}

.review-section__item-subtitle {
  color: #34b4f4;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.review-section__item-text {
  color: #111;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.review-section__item-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

.review-section__scroll {
  display: none;
  justify-content: center;
  align-items: center;
  color: #4f5058;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  border: none;
  background-color: transparent;
  gap: 17px;
  margin-left: auto;
  margin-top: 12px;
  cursor: pointer;
}

@media (max-width: 1660px) {
  .review-section {
    margin: 0 150px 200px;
  }

  /* .review-section__content-container {
            grid-template-columns: repeat(2, 459px);
            grid-template-rows: auto 1fr;
        } */
}

@media (max-width: 1500px) {
  .review-section__content-container {
    padding: 0 20px;
  }

  .review-section__content-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: initial;
    gap: 10px;
    overflow-x: auto;
  }

  .review-section__container-title {
    display: none;
  }
  .mob_title {
    display: block;
    padding-left: 20px;
    margin-bottom: 40px;
  }

  .review-section__content-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .review-section__scroll {
    display: flex;
  }

  .review-section__content-container::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .review-section {
    margin: 0 100px 200px;
  }
}

@media (max-width: 1030px) {
  .review-section {
    margin: 0 24px 200px;
  }
}

@media (max-width: 980px) {
  .review-section {
    margin: 0 100px 100px;
  }
}

@media (max-width: 750px) {
  .review-section {
    margin: 0 0 100px;
    padding: 0 24px;
  }

  .review-section__content-container {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .review-section__item {
    width: 327px;
    padding: 20px;
  }
  .mob_title {
    font-size: 24px;
    padding-left: 0;
  }
  .review-section__item-text {
    font-size: 16px;
  }

  .review-section__item {
    gap: 12px;
  }
}
.services_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 14px 14px 19px;
  background-color: rgb(12 15 21);
  border-radius: 24px;
  color: rgb(255 255 255);
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
}

.service-card__content-image-container {
  margin-bottom: 25px;
}

.service-card__content-image {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.service-card__content-title {
  margin-bottom: 12px;
  font-size: 20px;
  color: inherit;
}

.service-card__content-text {
  font-weight: 300;
}

.service-card__hidden-text {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  color: rgb(52 180 244);
}

@media (min-width: 768px) {
  .services_list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .service-card {
    width: calc(50% - 5px);
  }
}

@media (min-width: 1024px) {
  .service-card {
    width: calc(100% / 4 - 8px);
  }
}

@media (min-width: 1280px) {
  .services_list {
    gap: 20px;
  }

  .service-card {
    position: relative;
    width: calc(100% / 4 - 15px);
    height: 436px;
    padding-top: 254px;
  }

  .service-card__content-image-container {
    position: absolute;
    top: 14px;
    left: 14px;
    right: 14px;
    height: 225px;
    margin-bottom: 19px;
    transition-duration: 0.6s;
  }

  .service-card__hidden-container {
    position: absolute;
    left: 14px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
  }

  .service-card:hover {
    padding-top: 244px;
  }

  .service-card:hover .service-card__content-image-container {
    top: 0;
    left: 0;
    right: 0;
    height: calc(100% + 14px);
  }

  .service-card:hover .service-card__content-title {
    position: absolute;
    top: 22px;
    z-index: 1;
  }

  .service-card:hover .service-card__content-text {
    opacity: 0;
  }

  .service-card:hover .service-card__hidden-container {
    opacity: 1;
    z-index: 1;
  }
}
.slider-section {
  display: flex;
  justify-content: center;
  margin: 0 250px 200px;
}

.slider-section__wrapper {
  display: grid;
  grid-template-columns: 620px 780px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider-section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  width: 620px;
  height: 548px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 24px;
  border: 1px solid #4f5058;
  flex-shrink: 0;
}

.slider-section__image {
  width: 100%;
  height: 100%;
  max-width: 620px;
  max-height: 548px;
  min-width: 300px;
  min-height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}

.slider-section__image-mob {
  display: none;
}

.slider-section__form {
  display: flex;
  padding: 40px 60px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  border-radius: 24px;
  border: 1px solid #4f5058;
  background: #1a1d29;
  width: 100%;
  height: 100%;
  width: 780px;
  height: 548px;
  min-width: 400px;
  min-height: 300px;
  flex-shrink: 0;
}

.slider-section__image--visible,
.slider-section__image-mob--visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1500px) {
  .slider-section {
    margin: 0 200px 200px;
    justify-content: center;
    align-items: center;
  }

  .slider-section__wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;
  }

  .slider-section__container,
  .slider-section__form {
    margin: 0 auto;
  }

  .slider-section__container {
    display: none;
  }
}

@media (max-width: 980px) {
  .slider-section {
    margin: 0 100px 100px;
  }

  .slider-section__container,
  .slider-section__form {
    width: 80%;
    height: auto;
    max-width: 620px;
    max-height: 548px;
    flex-shrink: 1;
    min-width: 300px;
    min-height: 300px;
  }

  .slider-section__image {
    width: 100%;
    height: auto;
    max-width: 620px;
    max-height: 548px;
    flex-shrink: 1;
    object-fit: cover;
  }
}

@media (max-width: 750px) {
  .slider-section {
    margin: 0 24px 100px;
  }
}

@media (max-width: 500px) {
  .slider-section__image {
    display: none;
  }

  .slider-section__image-mob {
    display: block;
    width: 284px;
    height: 335px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #4f5058;
  }
}

@media (max-width: 400px) {
  .slider-section__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .slider-section__container {
    width: 100%;
    max-width: 100%;
  }

  .slider-section__form {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  .slider-section__form {
    width: 327px;
  }
}
.unique-section_img-wrapper {
  margin-bottom: 42px;
}

.unique-section_img-wrapper img {
  width: 100%;
}

.unique-section__bg {
  display: none;
}

.unique-items {
  display: grid;
  grid-gap: 24px;
  margin-top: 32px;
}

.unique-item {
  position: relative;
  display: grid;
  padding: 24px;
  grid-template-columns: 64px 1fr;
  grid-column-gap: 14px;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  z-index: 1;
}

.unique-item h3 {
  margin-bottom: 0;
  font-size: 20px;
  color: rgb(38 53 94);
}

.unique-item-bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 768px) {
  .unique-section__bg-mobile {
    display: none;
  }

  .unique-section__bg {
    display: block;
  }

  .unique-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .unique-section {
    position: relative;
    padding: 75px 0;
    z-index: 1;
  }

  .unique-section h2 {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .unique-section_img-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    z-index: -1;
  }

  .unique-section_img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1280px) {
  .unique-section__inner-wrapper {
    max-width: 775px;
    margin-left: auto;
  }

  .unique-section_img-wrapper img {
    object-position: left;
  }

  .unique-item h3 {
    font-size: 24px;
  }
}
