.price {
    display: grid;
    grid-row-gap: 20px;
}

.price img {
    border-radius: 16px;
}

.price h2 {
    display: grid;
}

.price h2 span {
    color: rgb(255 255 255);
}

.price .list_check {
    display: grid;
    grid-row-gap: 12px;
    margin-bottom: 32px;
}

@media (min-width: 768px) {
    .price {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
        align-items: center;
    }

    .price .button-wrapper {
        justify-content: flex-start;
    }

    .price .button-wrapper .btn {
        width: auto;
        margin: 0;
    }
}

@media (min-width: 1280px) {
    .price {
        grid-template-columns: 640px 1fr;
        grid-column-gap: 100px;
    }
}

@media (min-width: 1440px) {
    .price {
        grid-column-gap: 160px;
    }
}